<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='manifest' href='manifest.webmanifest'>

    <script>
        // Service Worker registrieren
        window.addEventListener("load", async () => {
            if ("serviceWorker" in window.navigator) {
                try {
                    await window.navigator.serviceWorker.register("/service-worker.js");
                    console.log("Service Worker ready!");
                } catch (err) {
                    console.error(err);
                }
            }

            navigator.serviceWorker.ready
                    .then( () => console.log("Service Worker ready to use...") );
        });
    </script>
</head>
<body>
{{{body}}}
</body>
</html>
